---
// Standard site footer
---
<footer>
  <div class="footer-brand">
    <span class="logo">Crazy<span style="color:var(--red)">M</span>onkey</span>
    <p>Diseño independiente, gótico y disidente.<br>Hecho en Colombia.</p>
  </div>
  <div class="footer-col">
    <h4>Navegación</h4>
    <ul>
      <li><a href="/index.html">Colección</a></li>
      <li><a href="/declaracion.html">Declaración</a></li>
      <li><a href="/manifiesto.html">Manifiesto</a></li>
      <li><a href="/contacto.html">Contacto</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <h4>Info</h4>
    <ul>
      <li><a href="/tallas.html">Guía de tallas</a></li>
      <li><a href="/envios.html">Envíos</a></li>
      <li><a href="/estado-pedido.html">Estado de pedido</a></li>
    </ul>
  </div>
</footer>
<div class="footer-bottom">
  © 2025 Crazy Monkey Collection Noir · Medellín, Colombia · Todos los derechos reservados
</div>
